@charset "UTF-8";

body {
    background:  black url(assets/bg-mobile.jpg) no-repeat center/cover;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid white;
    margin: auto;
}